# Node / Next.js
frontend/node_modules/
frontend/.next/
frontend/.env.local

# Laravel
backend/vendor/
backend/.env
backend/storage/*.key
backend/bootstrap/cache/*
backend/node_modules/

# General
.DS_Store
*.log